include head.pug
br
script(src="https://js.pusher.com/7.0/pusher.min.js")
script(src="/src/v1/client.js")
script(src="/code/production/cred.js")
link(href="/src/v1/client.css" rel="stylesheet")
div(class="chat")
    h1 #general
    p(style="width:70%") #{user4}: #{mes4}
    p(style="width:70%") #{user3}: #{mes3}
    p(style="width:70%") #{user2}: #{mes2}
    p(style="width:70%") #{user1}: #{mes1}
    p(id="m" style="width:70%")
input(id="mess")
