include head.pug
center
br
h1 Welcome to Riverside Rocks!
h4 Web Developer and Computer Programmer
a(href="/about/"): button(class="btn btn-primary" type="button" style="margin-left:10px") About
a(href="/projects/"): button(class="btn btn-primary" type="button" style="margin-left:10px") Projects
a(href="//github.com/RiversideRocks/web-riverside"): button(class="btn btn-primary" type="button" style="margin-left:10px") GitHub
br
p #{visits} Total Visits - #{subs} Total Subscribers - #{views} Total Video Views
br
if (user)
    p Signed in as #[a(href=profile target="_blank") #{username} ]
