include head.pug
script(src="/src/confirm.js")
center
br
h1 Welcome to Riverside Rocks!
h4 Web Developer and Computer Programmer
a(href="/about/"): button(class="btn btn-primary" type="button" style="margin-left:10px") About
a(href="/projects/"): button(class="btn btn-primary" type="button" style="margin-left:10px") Projects
a(href="//github.com/RiversideRocks/web-riverside"): button(class="btn btn-primary" type="button" style="margin-left:10px") GitHub
br
p #{visits} Total Visits - #{subs} Total Subscribers - #{views} Total Video Views
br
if (user)
    p Signed in as #[a(href=profile target="_blank") #{user} ]
if(github)
    p #{github}
br
// SPACE FOR AN AD
a(href="https://pog.rs/?utm_source=RiversideRocks" target="_blank"): img(src="https://riverside.rocks/assets/serve/production/app/5fc1919fc81a1.jpg" alt="pog.rs" width="728" height="90")
// END SPACE FOR AN AD